# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/index.html#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml


stages:
  - build
  - test



fetch-home-in-preprod:
  stage: build
  image: ubuntu:latest
  script:
    - apt-get update
    - apt-get -y install curl
    - mkdir pp-html
    - cd pp-html
    - echo "PP Base URL = ${PP_BASE_URL}"
    - >
        if [ "$PP_BASE_URL" == "" ]; then
          PP_BASE_URL="https://${CI_PROJECT_NAME}.adveris.dev/"
        fi
    - echo "PP Base URL = ${PP_BASE_URL}"
    - curl --basic -u "pré-prod:léoparddesneiges" -o home.html ${PP_BASE_URL}
  artifacts:
    name: "preprod-html"
    paths:
      - pp-html
    expire_in: 2 days

sonarqube-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.projectKey=${CI_PROJECT_NAME} -Dsonar.login=${SONAR_TOKEN} -Dsonar.projectVersion="${CI_COMMIT_BRANCH}@${CI_COMMIT_SHA}" -Dsonar.sourceEncoding=UTF-8 -Dsonar.links.scm=${CI_PROJECT_URL}
  allow_failure: true
