/*
|--------------------
|    FONTS IMPORTS
|--------------------
|
| 100 - Extra Light or Ultra Light
| 200 - Light or Thin
| 300 - Book or Demi
| 400 - Normal or Regular
| 500 - Medium
| 600 - Semibold, Demibold
| 700 - Bold
| 800 - Black, Extra Bold or Heavy
| 900 - Extra Black, Fat, Poster or Ultra Black
|
*/

// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('~@/assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
// 	url('~@/assets/fonts/montserrat/Montserrat-Bold.woff') format('woff');
// 	font-weight: bold;
// 	font-style: normal;
// 	font-display: swap;
// }
// 
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('~@/assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
// 	url('~@/assets/fonts/montserrat/Montserrat-Medium.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }
// 
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('~@/assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
// 	url('~@/assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display: swap;
// }
// 
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('~@/assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
// 	url('~@/assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }
// 
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('~@/assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
// 	url('~@/assets/fonts/montserrat/Montserrat-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

// DM SERIF
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	src: url('~@/assets/fonts/dm_serif_display/dm-serif-display-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('~@/assets/fonts/dm_serif_display/dm-serif-display-v11-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


// SF PRO
@font-face {
	font-family: 'SF Pro';
	src: url('~@/assets/fonts/sf_pro/SF-Pro-Display-Thin.otf') format('otf'),
	url('~@/assets/fonts/sf_pro/SF-Pro-Display-Thin.otf') format('otf');
	font-weight: lighter;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro';
	src: url('~@/assets/fonts/sf_pro/SF-Pro-Display-Regular.otf') format('otf'),
	url('~@/assets/fonts/sf_pro/SF-Pro-Display-Regular.otf') format('otf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro';
	src: url('~@/assets/fonts/sf_pro/SF-Pro-Text-Bold.otf') format('otf'),
	url('~@/assets/fonts/sf_pro/SF-Pro-Text-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro';
	src: url('~@/assets/fonts/sf_pro/SF-Pro-Display-Black.otf') format('otf'),
	url('~@/assets/fonts/sf_pro/SF-Pro-Display-Black.otf') format('otf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
